{{ define "main" }}
<section class="sitemap-page">
    <header class="list-header">
        <div class="container">
            <h1>{{ i18n "sitemap_title" }}</h1>
            <p class="list-description">{{ i18n "sitemap_subtitle" }} {{ .Site.Title }}</p>
        </div>
    </header>
    <div class="sitemap-content">
        <div class="container container-narrow">
            <div class="sitemap-section">
                <h2>{{ i18n "sitemap_main_pages" }}</h2>
                <ul class="sitemap-list">
                    <li><a href="{{ "/" | relLangURL }}">{{ i18n "home_link" }}</a></li>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
            <div class="sitemap-section">
                <h2>{{ $taxonomy.Page.Title }}</h2>
                <ul class="sitemap-list">
                    {{ range $taxonomy.Pages.ByDate.Reverse }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <span class="sitemap-date">{{ with .Params.lastmod }}{{ (time .).Format "02/01/2006" }}{{ else }}{{ .Date.Format "02/01/2006" }}{{ end }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
