<article class="article-card">
    <a href="{{ .RelPermalink }}" class="article-card-img" {{ with .Params.image }}style="background-image: url('{{ . | relURL }}');"{{ end }} aria-hidden="true" tabindex="-1"></a>
    <div class="article-card-body">
        <div class="article-meta">
            {{ with .Params.categories }}<span class="article-category">{{ index . 0 }}</span>{{ end }}
            <time>{{ .Date.Format "2 Jan 2006" }}</time>
        </div>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
    </div>
</article>
